<!DOCTYPE html>
<html lang="en">
<head>
        <title>Auth Boilerplate</title>
    </head>
    <body>
        <header>
            <nav>
                <% if (currentUser) { %>
                    <a href="/auth/logout">Logout</a>
                    <a href="/film">Favorite Films</a>
                    <a href="/">All Films</a>
                    <a href="/discussion">Discussions</a>
                    <a href="/discussion/new">Create A Discussion</a>
                <% } else { %>
                    <a href="/auth/register">Register</a>
                    <a href="/auth/login">Login</a>
                <% } %>
            </nav>
        </header>
        <div class="container">
            <h1>Studio Ghibli Forums</h1>
            <%- body %>
        </div>
    </body>
</html>