.dropshadow {
    text-shadow:1px 1px 1px black;
    color: white;
}

.center_ds {
    text-align: center;
    text-shadow:1px 1px 1px black;
    color: white;
}

.nav {
    background-color: white;
    font-size: 20px;
}

.main_bkrd {
    background-color:  rgb(241, 241, 241);
}

.txt{
    text-align: center;
    text-shadow:1px 1px 1px black;
    color: white;
}

.center_txt {
    text-align: center;
}

.discussion_ht {
    height: 40px;
}

.black_ts {
    text-shadow:2px 2px 2px black;
    color: white;
}