<style type="text/css">
    body {
        background-image: url('/images/allchars.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="films">
    <h1 class="greeting_txt">Discussions:</h1>
    <% discussions.forEach(function(post) { %>
        <div class="film">
            <h2 class="underline">
                <a href="/discussion/<%= post.id %>"><%= post.title %></a>
            </h2>
            <h4>Topic: <%= post.film %></h4>
        </div>
        <% }) %>
        <h5 class="black_ts">Not many discussions to read? <a href="/discussion/new">Create your own! </a></h5>
</div>