<h1>Create a new discussion for people to participate in!</h1>

<div>
    <form method="POST" action="/discussion/new">
        <label for="title">Title:</label>
        <input id="title" type="text" name="title" required>
        <label for="film">Film the discussion is about:</label>
        <input id="film" type="text" name="film" required>
        <label for="content">Content of film discussion:</label>
        <textarea id="content" type="text" name="content" required></textarea>
        <input type="submit">
    </form>
</div>