<style type="text/css">
    body {
        background-image: url('/images/flowers.jpg');
        background-attachment: fixed;
    }
</style>
<h1 style="text-align: center; text-shadow:1px 1px 1px black; color: white;">Create a new discussion for people to participate in!</h1>

<div>
    <form method="POST" action="/discussion/new">
        <label for="title" style="color: white;">Title:</label>
        <input id="title" type="text" name="title" required>
        <label for="film" style="color: white;">Film the discussion is about:</label>
        <input id="film" type="text" name="film" style="color: white;" required>
        <label for="content" style="color: white;">Content of film discussion:</label>
        <textarea id="content" type="text" name="content" required></textarea>
        <input type="submit">
    </form>
</div>