<style type="text/css">
    body {
        background-image: url('/images/robotpretty.jpg');
        background-attachment: fixed;
        
    }
</style>
<div style="text-align: center;">
    <h1 style="text-shadow:1px 1px 1px black; color: white;"><%= discussion.title %></h1>
    <h3 style="text-shadow:1px 1px 1px black; color: white;"><%= discussion.film %></h3>
    <p style="text-shadow:1px 1px 1px black; color: white;"><%= discussion.content %></p>
</div>